---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <div
    id="page-body"
    class="bg-zinc-300 dark:bg-zinc-900 p-2 md:p-4 min-h-screen"
  >
    <div class="bg-white dark:bg-zinc-900 text-black dark:text-white rounded:lg md:rounded-2xl text-start p-3 md:p-6">
      <h2 class="font-bold text-2xl">Race Information Page</h2>
      <p class="my-4 md:my-8">Page that supplies information regarding races. If you need any information, it is likely you will find it here. Pretty cool right?</p>
      <p class="my-4 md:my-8">The idea is that there will be a timeline/roadmap which shows every event that Indorace helped organize. Yeah, that's about it.</p>
    </div>
  </div>
</Layout>
