---
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    id="page-body"
    class="bg-zinc-300 dark:bg-zinc-900 p-2 md:p-4 min-h-screen text-center"
  >
    <h1 class="font-black text-4xl md:text-8xl my-8 md:my-16">
      Under Construction!
    </h1>
    <p class="my-4 md:my-8 font-bold">
        If you stumble upon this page, then that means the page should not be accessed or something idk.
    </p>
    <a href="/" target="_self" rel="noopener noreferrer" class="text-blue-600 underline">Click here to go home or something.</a>
  </div>
</Layout>
