---
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    id="page-body"
    class="bg-zinc-300 dark:bg-zinc-900 p-2 md:p-4 min-h-screen"
  >
    <div class="text-start p-3 md:p-6 bg-white dark:bg-zinc-900 rounded-lg md:rounded-2xl">
      <h4 class="font-bold text-2xl md:mb-6 mb-3">About Us</h4>
      <p class="text-base/8">
        Established in 2013, Indorace is an organization with a mission of
        managing sport events and promoting a healthy lifestyle through sports. <br
        />
        We offer comprehensive race management services (running, cycling, mountainbike,
        triathlon)/consulting, beyond that we also organize funrun and funwalk as
        we understand that healthy lifestyle is for everyone who can’t join at such
        serious and more challenging events. <br /> Indorace is the official partner
        of RFID Race Timing Systems Australia, we are ready to support your timing
        event.
      </p>
      <p class="text-base/8 md:mt-4 mt-2">
        Nowadays, everyone have their own gadgets to connect to the internet.
        So, we developed online registration systems inhouse and can be
        customized to client’s need. In order to make a quality race we have
        some race equipments for rental, bicycle, well trained race officials,
        BIB printing services etc. Just contact us for more information. We just
        plain love what we do.
      </p>
    </div>
  </div>
</Layout>
