---
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    id="page-body"
    class="bg-zinc-300 dark:bg-zinc-900 p-2 md:p-4 min-h-screen"
  >
    <div class="text-start p-3 md:p-6">
      <h2>Other Page</h2>
      <p class="my-4 md:my-8">When you find this page then you probably shouldn't be here, just saying.</p>
    </div>
  </div>
</Layout>
